<article class="table-field">
    <table>
        <th>Full name</th>
        <th>Phone No.</th>
        <th>Mobile number</th>
        <th>Actions</th>

        <td>{{fullName}}</td>
        <td>{{phone}}</td>
        <td>{{mobile}}</td>
        <td><button onclick={{action 'addContact'}}>Add Contact</button></td>
  
    </table>
</article>